includes:
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon
  - vendor/phpstan/phpstan-doctrine/extension.neon
  - vendor/phpstan/phpstan-symfony/extension.neon
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
  - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
  - vendor/slam/phpstan-extensions/conf/slam-rules.neon
  - vendor/ekino/phpstan-banned-code/extension.neon

parameters:
  level: 8
  paths:
    - src
    - tests
  tmpDir: .tmp
  excludePaths:
    - '%rootDir%/../../../src/Kernel.php'
    - '%rootDir%/../../../src/*.tpl.php'
    - '%rootDir%/../../../src/*Test.php'
    - '%rootDir%/../../../src/*Test.php'
    - '%rootDir%/../../../src/Blog/DoctrineEventSubscriber/UpdateBlogPostViewsCountSubscriber.php'

  symfony:
    container_xml_path: '%currentWorkingDirectory%/var/cache/dev/App_KernelDevDebugContainer.xml'
  doctrine:
    objectManagerLoader: '%currentWorkingDirectory%/tests/object-manager.php'
  ignoreErrors:
      - '#Call to an undefined method [a-zA-Z0-9\\_<>]+::findBy[A-Z][a-zA-Z]*\(\)#'
      - '#Call to an undefined method [a-zA-Z0-9\\_<>]+::findOneBy[A-Z][a-zA-Z]*\(\)#'
      - '#Class [a-zA-Z]+ should be written with ::class notation, string found.#'
      - '#.*caught "Exception" must be rethrown*#'
  reportUnmatchedIgnoredErrors: false
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  bootstrapFiles:
    - bin/.phpunit/phpunit-9.5-0/vendor/autoload.php
  banned_code:
      nodes:
        # enable detection of echo
        -
          type: Stmt_Echo
          functions: null

        # enable detection of eval
        -
          type: Expr_Eval
          functions: null

        # enable detection of die/exit
        -
          type: Expr_Exit
          functions: null

        # enable detection of a set of functions
        -
          type: Expr_FuncCall
          functions:
            - dd
            - debug_backtrace
            - dump
            - exec
            - passthru
            - phpinfo
            - print_r
            - proc_open
            - shell_exec
            - system
            - var_dump

      # enable detection of `use Tests\Foo\Bar` in a non-test file
      use_from_tests: true
