{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% for document in field.value %}
    <div class="mb-2">
        <ul class="list-group">
            <li class="list-group-item">
                <b>Nom original:</b> {{ document.originalName }}
            </li>
            <li class="list-group-item">
                <b>Nom du document:</b> {{ document.document }}
            </li>
            <li class="list-group-item field-boolean">
                <b>CV ? :</b>
                {% if document.resume == 1 %}
                    <span class="badge badge-boolean-true">Oui</span>
                {% else %}
                    <span class="badge badge-boolean-false">Non</span>
                {% endif %}
            </li>
            <li class="list-group-item field-boolean">
                <b>CV par défaut ? :</b>
                {% if document.defaultResume == 1 %}
                    <span class="badge badge-boolean-true">Oui</span>
                {% else %}
                    <span class="badge badge-boolean-false">Non</span>
                {% endif %}
            </li>
            <li class="list-group-item">
                <b>Lien: </b>
                <a href="{{ vich_uploader_asset(document, 'documentFile') }}" target="_blank">
                    {{ document.originalName }}
                </a>
            </li>
        </ul>
    </div>
{% endfor %}
